#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Name=Clear NDR Community
#Icon=preferences-other
Icon=/usr/share/icons/CNDR-Desktop-Icon-Launch.svg
Comment=Launch-Web-Access
Exec=firefox-esr https://localhost/rules/
Type=Application
Categories=Application;System;
StartupNotify=true
Terminal=false

